XurmoConnect/XurmoConnect-war/web/WEB-INF/wsdl/RegisterUserBean.wsdl

<definitions name='RegisterUserBeanService' targetNamespace='http://webservice.user.connect.xurmo.com/jaws' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://webservice.user.connect.xurmo.com/jaws' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <schema elementFormDefault='qualified' targetNamespace='http://webservice.user.connect.xurmo.com/jaws' xmlns='http://www.w3.org/2001/XMLSchema' xmlns:soap11-enc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='http://webservice.user.connect.xurmo.com/jaws' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
   <complexType name='registerUser'>
    <sequence>
     <element name='username' nillable='true' type='string'/>
     <element name='password' nillable='true' type='string'/>
     <element name='fname' nillable='true' type='string'/>
     <element name='lname' nillable='true' type='string'/>
     <element name='primaryMobile' nillable='true' type='string'/>
     <element name='primaryEmail' nillable='true' type='string'/>
    </sequence>
   </complexType>
   <complexType name='registerUserResponse'>
    <sequence>
     <element name='result' type='int'/>
    </sequence>
   </complexType>
   <element name='registerUser' type='tns:registerUser'/>
   <element name='registerUserResponse' type='tns:registerUserResponse'/>
  </schema>
 </types>
 <message name='RegisterUserBean_registerUser'>
  <part element='tns:registerUser' name='parameters'/>
 </message>
 <message name='RegisterUserBean_registerUserResponse'>
  <part element='tns:registerUserResponse' name='result'/>
 </message>
 <portType name='RegisterUserBean'>
  <operation name='registerUser'>
   <input message='tns:RegisterUserBean_registerUser'/>
   <output message='tns:RegisterUserBean_registerUserResponse'/>
  </operation>
 </portType>
 <binding name='RegisterUserBeanBinding' type='tns:RegisterUserBean'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='registerUser'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='RegisterUserBeanService'>
  <port binding='tns:RegisterUserBeanBinding' name='RegisterUserBeanPort'>
   <soap:address location='http://localhost:8080/XurmoConnect-ejb/RegisterUserBean'/>
  </port>
 </service>
</definitions>